{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Page EDIT</h1>
    <form action="" method="post">
    	<input type="hidden" value="{{ book.book_id }}" name="id">
        <div class="cover_page">
            <label for="imageUpload"></label>
            <input type="file" name="avatar" id="imageUpload" />
        </div>
        
        <div class="title">
            <label for="title">Titre :</label>
            <input type="text" id="title" name="title" value="{{ book.book_title }}" placeholder="{{ book.book_title }}">
        </div>
        <div class="author">
            <label for="author">Auteur :</label>
            <select name="author" id="author">
                <option value="{{ book.editor_id }}" selected hidden>{{ book.author_name }}</option>
                {% for author in authors %}
                <option name="editor" value="{{ author.author_id }}">{{ author.author_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="release_date">
            <label for="release_date">Date de sortie :</label>
            <input type="date" name="release_date" id="release_date" value="{{ book.release_date }}">
        </div>
        <div class="editor">
            <label for="editor">Editeur :</label>
            <select name="editor" id="editor">
                <option value="{{ book.editor_id }}" selected hidden>{{ book.editor_name }}</option>
                {% for editor in editors %}
                <option name="editor" value="{{ editor.editor_id }}">{{ editor.editor_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="category">
            <label for="category">Catégorie :</label>
            <select name="category" id="category">
                <option value="{{ book.category_id }}" selected hidden>{{ book.category_name }}</option>
                {% for categorie in categories %}
                <option name="category" value="{{ categorie.category_id }}">{{ categorie.category_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="format">
            <label for="format">Format :</label>
            <select name="format" id="format">
                <option value="{{ book.format_id }}" selected hidden>{{ book.format_name }}</option>
                {% for format in formats %}
                <option name="format" value="{{ format.format_id }}">{{ format.format_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="emplacement">
            <label for="emplacement">Emplacement :</label>
            <select name="emplacement" id="emplacement">
                <option value="{{ book.emplacement_id }}" selected hidden>{{ book.emplacement_name }}</option>
                {% for emplacement in emplacements %}
                <option name="emplacement" value="{{ emplacement.emplacement_id }}">{{ emplacement.emplacement_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="status">
            <label for="status">Etat :</label>
            <select name="status" id="status">
                <option value="{{ book.status_id }}" selected hidden>{{ book.status_name }}</option>
                {% for statut in status %}
                <option name="status" value="{{ statut.status_id }}">{{ statut.status_name }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit">
    </form>

{% endblock %}
