
{% for books in book %}
<div>
title: <li>{{ books.book_title }}</li>
author: <li>{{ books.author_name }}</li>
date:  <li>{{books.release_date }}</li>
editor: <li>{{books.editor_name }}</li>
<a href="../books/edit?id={{books.book_id}}">edit</a>
</div>
{% endfor %}