{% extends 'layout.html.twig' %}

{% block content %}
<ul>
    <li>{{ book.book_title }}</li>
    <li>{{ book.release_date }}</li>
    <li>{{ book.author_name }}</li>
    <li>{{ book.editor_name }}</li>
    <li>{{ book.category_name }}</li>
    <li>{{ book.location_name }}</li>
    <li>{{ book.status_name }}</li>
</ul>
{% endblock %}
