
{% for book in books %}
<div>
title: <li>{{ book.book_title }}</li>
author: <li>{{ book.author_name }}</li>
date:  <li>{{book.release_date }}</li>
editor: <li>{{book.editor_name }}</li>
<a href="../book/edit?id={{book.book_id}}">edit</a>
</div>
<br><br><br>
{% endfor %}