{% extends 'layout.html.twig' %}

{% block title %}
Ajouter un livre
{% endblock title %}

{% block content %}
<nav>
    <div class="logoAndName">
        <img src="/assets/images/logobook.png" alt="My Books Logo">
        <p>MY BOOKS</p>
    </div>
    <h1>Ajouter un nouveau livre</h1>
    <div class="backHome">
        <a href=""><img src="/assets/images/home.png" alt="Home Logo"><span>Retour à l'accueil</span></a>
    </div>
</nav>

<form class="addForm" action="" method="post" enctype="multipart/form-data">
    <div class="cover_page">
        <label for="imageUpload">Page de couverture</label><br>
        <input type="file" name="avatar" id="imageUpload" disabled />
    </div>

    <div class="title">
        <label for="title">Titre :</label><br>
        <input type="text" id="title" name="title" placeholder="Saissisez le titre" disabled>
    </div>

    <div class="author">
        <label for="author">Auteur :</label><br>
        <div class="addAuthor">
            <select name="author" id="author" disabled>
                <option value="none" selected disabled hidden>Choissisez un auteur</option>
                {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>
                {% endfor %}
            </select><br>
        </div>
    </div>

    <div class="release_date">
        <label for="release_date">Date de sortie :</label>
        <input type="date" name="release_date" id="release_date" disabled>
    </div>

    <div class="editor">
        <label for="editor_name">Editeur:</label>
        <div class="addEditor">
            <input type="text" id="editor_name" name="editor_name" placeholder="Saissisez l'éditeur">
            <input class="addElement" type="submit" value="">
        </div>
        <p class="errors">{{ errors[0] }}</p>
    </div>

    <div class="category">
        <label for="category">Catégorie :</label>
        <select name="category" id="category" disabled>
            <option value="none" selected disabled hidden>Choissisez une catégorie</option>
            {% for category in categories %}
            <option value="{{ category.category_id }}">{{ category.category_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="format">
        <label for="format">Format :</label>
        <select name="format" id="format" disabled>
            <option value="none" selected disabled hidden>Choissisez un format</option>
            {% for format in formats %}
            <option value="{{ format.format_id }}">{{ format.format_name }}</option>
            {% endfor %}

        </select>
    </div>

    <div class="location">
        <label for="location">Emplacement :</label>
        <select name="location" id="location" disabled>
            <option value="none" selected disabled hidden>Choissisez un emplacement</option>
            {% for location in locations %}
            <option value="{{ location.location_id }}">{{ location.location_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="status">
        <label for="status">Etat :</label>
        <select name="status" id="status" disabled>
            <option value="none" selected disabled hidden>Choissisez un etat</option>
            {% for statut in status %}
            <option value="{{ statut.status_id }}">{{ statut.status_name }}</option>
            {% endfor %}
        </select>
    </div>
</form>
{% endblock %}